*{
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
}
body{
    font-family:Poppins;
    color:fff;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.flex{
    display:flex;
}
section {
    background-image: url(images/photorealistic-style-clouds-storm.jpg);
    /* background-image: url(images/view-beautiful-rainbow-nature-landscape.jpg);
    background-image: url(images/aerial-shot-forested-mountain-srouned-by-fog-great-fora-background-blog.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-bottom: 50px;
    color: #fff;
    
}
.user-img {
    width: 40px;
    border-radius: 100%;
    height: 40px;
    object-fit: cover;
}
.search {
    border-radius: 50px;
    padding-left: 10px;
    border: 1px solid #ffffff1f;
    height: 40px;
    backdrop-filter: blur(4px);
    background: #ffffff17;
    width: 15rem;
}
.search::placeholder {
    color:#fff;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    align-items: center;
    height: 80px;
}
.js {
    justify-content: space-between;
    margin-top: 83px;
}
.content{
    backdrop-filter:blur(1px);
}
.col.content h1 {
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 65px;
}
.col.content p {
    color: #ffff;
    line-height: 35px;
    font-weight: 300;
}
.info {
    border: 2px solid #ffffff12;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    background: #ffffff17;
    backdrop-filter: blur(10px);
    width: 319px;
    text-align:center;
}
.info p {
    font-weight: 400;
}
.info h2 {
    font-weight: 500;
    font-size: 40px;
}
.header p {
    font-weight: 200;
    font-size:12px;
}
.header h4 {
    font-weight: 400;
}
.account{
    gap:30px;
}
#offBtn {
    display: none;
    margin: 0px;
    padding: 0px;
    align-items: center;
    text-align: center;
}
#offBtn{
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    text-align: center;
}
.darkMode{
    background-color: #000;
    color:#000;
}
.user-card {
    display: none;
    border: unset;
    border-radius: 12px;
    width: 20rem;
    position: absolute;
    z-index: 999;
    top: 100px;
    right: 62px;
}
.img-card img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.img-card {
    text-align: center;
    background-color: #00000024;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    backdrop-filter: blur(10px);
    transition: 0.6s all;
}
.user-info {
    padding: 15px;
    background-color: #ffffff38;
    backdrop-filter: blur(10px);
    border-radius: 0px 0px 10px 10px;
    transition: 0.6s all;

}
.user-info ul{
    padding: 0px;
    line-height: 35px;
}
.user-info ul li {
    list-style: none;
    width: 100%;
    font-weight: 300;
}
.user-info ul li a{
    text-decoration: none;
    color:#fff;
}
.show{
    display:block;
}