*{
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
}
body{
    font-family:Poppins;
    color:fff;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.flex{
    display:flex;
}
section {
    background-image: url(images/photorealistic-style-clouds-storm.jpg);
    /* background-image: url(images/view-beautiful-rainbow-nature-landscape.jpg);
    background-image: url(images/aerial-shot-forested-mountain-srouned-by-fog-great-fora-background-blog.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
    color: #fff;
    
}
.user-img{
    width: 50px;
    border-radius: 100%;
    height: 50px;
    object-fit: cover;
}
.search {
    border-radius: 50px;
    padding-left: 10px;
    border: 1px solid #ffffff1f;
    height: 40px;
    backdrop-filter: blur(4px);
    background: #ffffff17;
    width: 15rem;
}
.search::placeholder {
    color:#fff;
}
.header{
    display:flex;
    justify-content:space-between;
    padding:10px 0px 10px 0px;
    align-items:center;
}
.js {
    justify-content: space-between;
    margin-top: 83px;
}
.content{
    backdrop-filter:blur(1px);
}
.col.content h1 {
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 65px;
}
.col.content p {
    color: #ffff;
    line-height: 35px;
    font-weight: 300;
}
.info {
    border: 2px solid #ffffff12;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    background: #ffffff17;
    backdrop-filter: blur(10px);
    width: 319px;
    text-align:center;
}
.info p {
    font-weight: 400;
}
.info h2 {
    font-weight: 500;
    font-size: 40px;
}
.header p {
    font-weight: 200;
    font-size:12px;
}
.header h4 {
    font-weight: 400;
}
.account{
    gap:30px;
}
#offBtn {
    display: none;
    margin: 0px;
    padding: 0px;
    align-items: center;
    text-align: center;
}
#offBtn{
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    text-align: center;
}
.darkMode{
    background-color: #000;
    color:#000;
}